body {
  margin:0;
  font-family: Arial;
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color:white;
  text-align:center;
}

.header {
  padding:20px;
}

.logo {
  width:100px;
  margin-bottom:10px;
}

button {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(45deg,#f7971e,#ffd200);
    color: black;
    cursor: pointer;
    transition: 0.3s;

    width: 250px;        /* tamaño */
    display: block;      /* uno debajo del otro */
    margin-left: auto;
    margin-right: auto;  /* centrado */
}

button:hover {
  transform:scale(1.1);
}

table {
  margin:auto;
  border-collapse: collapse;
  margin-top:20px;
}

td {
  border:1px solid white;
  padding:12px;
}
